In [4]:
from itertools import chain
from collections import Counter
import regex as re
import os

In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('SAMPLE_RESULT_500K_LINES.pkl')

In [16]:
dict_verbs = dict(Counter(list(chain(*df['VERB']))).most_common(5000))

In [42]:
def get_dict_of_item(pandas_series, min_value=10):
    dict_item = dict(Counter(list(chain(*pandas_series))).most_common())
    dict_item = {k:v for k,v in dict_item.items() if v >= min_value}
    print(f'The Length of the Input Item: {len(dict_item)}')
    print(f'The lowest value in the Input Item: {min(dict_item.values())}')
    return dict_item

In [43]:
def create_df_from_dict(dictionary, k='ITEM', v='FREQ'):
    data = {k: dictionary.keys(), v: dictionary.values()}
    return pd.DataFrame(data)

In [44]:
def save_pandas_count_pickle(pandas_series, min_value, k='ITEM', v='FREQ', name_of_file='name'):
    dictionary = get_dict_of_item(pandas_series, min_value)
    df = create_df_from_dict(dictionary)
    if name_of_file.endswith('.pkl'):
        name_of_file = name_of_file[:-4]
    df.to_pickle(f'{name_of_file}.pkl', protocol=4)
    return df

In [46]:
save_pandas_count_pickle(df.ADJ, min_value=5, k='ADJ', v='FREQ', name_of_file='ADJ')

The Length of the Input Item: 6521
The lowest value in the Input Item: 5

               ITEM   FREQ
0              good  23206
1             other  20905
2            little  18338
3              more  17869
4               old  13243
...             ...    ...
6516        forfeit      5
6517       standing      5
6518    underfunded      5
6519  developmental      5
6520        sundown      5

[6521 rows x 2 columns]

In [31]:
verbs = get_dict_of_item(df.VERB)

The Length of the Input Item: 4481
The lowest value in the Input Item: 10

In [32]:
create_df_from_dict(verbs, k='VERB', v='FREQ')

              VERB    FREQ
0              say  103744
1             have   92522
2               go   68037
3               do   63410
4             know   60313
...            ...     ...
4476          frig      10
4477     subdivide      10
4478           gum      10
4479          slum      10
4480  interconnect      10

[4481 rows x 2 columns]

In [ ]:
pan