In [1]:
import pandas as pd

import numpy as np

In [2]:
import os

In [3]:
import regex as re

In [4]:
df = pd.read_pickle('NOVELS_AUTHORS_COMPLETE_DATASET_4M_LINES.pkl')

In [5]:
df

,TEXT,AUTHOR
0,"""One thousand suppliers spread across America,...",DAVID_BALDACCI_COLLECTION_DATASET
1,"""I lost it when I-""",NORA_ROBERTS_DATASET
2,"At a gallop, the gateway began to dwindle, bro...",BRANDON_SANDERSON_COLLECTION_EPUB_DATASET
3,“Walk me through the prep for the buses.”,DAVID_BALDACCI_COLLECTION_DATASET
4,Soon the old talker appeared.,GEORGE_R_R_MARTIN_DATASET
...,...,...
4013323,“Why didn’t Taim break them?” Logain asked. “H...,BRANDON_SANDERSON_COLLECTION_EPUB_DATASET
4013324,“My sweet girl.” Lilith pressed another kiss t...,NORA_ROBERTS_DATASET
4013325,"To that, he got silence and this silence laste...",KRISTEN_ASHLEY_COLLECTION_DATASET
4013326,"""Because I can."" He watched knowledge come int...",NORA_ROBERTS_DATASET
4013327,"“I’ll show you,” Galen said, and his voice was...",LAURELL_K_HAMILTON_COMPLETE_EBOOK_COLLECTION_Z...

In [10]:
list_dfs = [f"""
df_{str(i+1).zfill(2)}
""".strip()
for i in range(8)]

In [11]:
list_dfs

['df_01', 'df_02', 'df_03', 'df_04', 'df_05', 'df_06', 'df_07', 'df_08']

In [12]:
print(', '.join(list_dfs))

df_01, df_02, df_03, df_04, df_05, df_06, df_07, df_08

In [13]:
df_01, df_02, df_03, df_04, df_05, df_06, df_07, df_08 = np.array_split(df, 8)

In [15]:
df_02

,TEXT,AUTHOR
501666,"""It's the right planet."" A portion of his past...",NORA_ROBERTS_DATASET
501667,“The Campions?” I said.,DAVID_BALDACCI_COLLECTION_DATASET
501668,"Rufus was already nodding. ""Everything. I know...",DAVID_BALDACCI_COLLECTION_DATASET
501669,"made, however, he ought to add a clockwise sti...",THE_HARRY_POTTER_COMPLETE_DATASET
501670,Kaladin stepped into the light and found a man...,BRANDON_SANDERSON_COLLECTION_EPUB_DATASET
...,...,...
1003327,“Maybe we’ll give her a kind of double feature...,NORA_ROBERTS_DATASET
1003328,"McGee and Mrs. Baker stared at her, and there ...",DEAN_KOONTZ_DATASET
1003329,"“Let’s find out,” said Harry. He pushed the do...",THE_HARRY_POTTER_COMPLETE_DATASET
1003330,"“Now, Mr. Duvall, you know that everything on ...",DAVID_BALDACCI_COLLECTION_DATASET
1003331,"Yes, he was distracting her. Kate was already ...",NORA_ROBERTS_DATASET

In [47]:
list_csv_export = [f"""df_{str(idx+1).zfill(2)}.sample(10_000).reset_index(drop=True).to_csv('./TEST_ENVIRONMENT/BATCH_{str(idx+1).zfill(2)}/FICTION_DATASET_BATCH_{str(idx+1).zfill(2)}.csv', encoding='utf-8', index=False)

""".strip() for (idx,d) in enumerate(list_dfs)]

In [49]:
for command in list_csv_export:
    print(command)

In [27]:
list_pkl_export = [f"""df_{str(idx+1).zfill(2)}.reset_index(drop=True).to_pickle('FICTION_BATCHES/BATCH_{str(idx+1).zfill(2)}/FICTION_DATASET_BATCH_{str(idx+1).zfill(2)}.pkl')

""".strip() for (idx,d) in enumerate(list_dfs)]

In [28]:
for i in list_pkl_export:
    print(i)

In [41]:
pwd

'/home/jupyter'

In [50]:
# for (idx, i) in enumerate(list_dfs):
#     folder_name = f"BATCH_{str(idx+1).zfill(2)}"
#     os.mkdir(f'./TEST_ENVIRONMENT/{folder_name}')